html {
  font-size: 13px;
  background: #0253A7 url(../images/grain.jpg)
}

.pill {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 1rem;
  text-transform: uppercase;
}

.pill:hover,
.pill:active,
.pill:visited,
.pill:link {
  text-decoration: none;
}

ul {
  clear: both;
  font-size: 1.2rem;
  padding: 10px 0 0 0;
}

ul.category li {
  display: inline;
  list-style: none;
  padding: 3px 10px 3px 10px;
}

ul li.no-padding {
  padding: 0;
}

ul.category li {
  line-height: 30px;
}

.mg-chart-title {
  font-family: 'Open Sans', sans-serif, Arial;
	font-size: 1.5rem;
	font-weight: 400;
}

.container-charts {
	background-image: url(../images/alpha.png);
	margin: 20px auto 0 auto;
	padding: 40px;
}

.container-prose {
  background-color: white;
  color: #3b3b3b;
	opacity: 0.9;
	margin: 0 auto 40px auto;
	padding: 20px;
}

#credits {
	margin-top: 50px;
	font-size: 0.9rem;
}

svg {
  margin-top: 30px;
}

body {
  font-family: 'Open Sans', sans-serif, Arial;
	background: url(../images/bg3.jpg) 50% -70px no-repeat;
	background-size: 1920px auto;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 1.1rem;
  line-height: 24px;
}

.it {
  font-style: italic;
}

a,
a:active,
a:visited {
  color: #278de3;
  text-decoration: none;
}

a:hover {
  color: #70b6f1;
}

a.active {
  background-color: #70b6f1;
  border: 0;
  border-radius: 16px;
  color: black;
  padding: 3px 10px 3px 10px;
  text-decoration: none;
}

.footer {
  border-top: 0;
  font-size: 0.9rem;
}

h1 {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 46px;
  font-weight: 300;
  margin: 5px 0 5px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

.transparent-rollover-rect {
  fill: white;
}

.mg-missing-background {
  stroke: #ccc;
}


@media (max-width:1200px){
  .mg-chart-title {
    font-size: 1.9rem;
  }
}

.hr {
  border-bottom: 1px solid #3b3b3b;
  height: 24px;
  margin: 20px 0 10px 0;
}

.buttons {
  position: absolute;
  right: -10px;
}

.btn-group {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 15px;
}

.btn-group span.which-button {
  font-weight: 300;
  color: darkgray;
}

.btn-group span.title {
  margin-left: 4px;
  margin-right: 4px;
}

.mg-x-axis text,
.mg-y-axis text {
  font-size: 0.8rem;
}

.mg-active-datapoint,
.mg-line-legend text {
  font-size: 0.85rem !important;
}

.header {
  height: 20px;
}

#gpu-model .mg-chart-title {
  cursor: pointer;
}

.vendor-intel {
  fill: #ffd300 !important;
}

.vendor-nvidia {
  fill: #f57070 !important;
}

.vendor-amd {
  fill: #18ff00 !important;
}

.vendor-intel-line {
  stroke: #ffd300 !important;
  fill: #ffd300 !important;
}

.vendor-nvidia-line {
  stroke: #f57070 !important;
  fill: #f57070 !important;
}

.vendor-amd-line {
  stroke: #18ff00 !important;
  fill: #18ff00 !important;
}