# Misc
.DS_Store

# Node
node_modules

# Webpack
build/

# Data
data/hwsurvey-FF43-Resolution.csv
data/hwsurvey-FF43-GFXStrings.csv
*.json

# The presence of package-lock.json causes builds to occasionally fail. See this
# issue: https://github.com/npm/npm/issues/16839
!package.json
